# data folder containing test data

data/
local/
pipeline_dag.html
pipeline_report.html
pipeline_timeline.html
build.log
.nextflow/
.nextflow.log*
jupyter_dev/
build.log
run_journal.sh
jupyter_notebooks/
DSI_setup/
report.html
docker_build*