workDir = "/rds/general/user/${System.getenv('USER')}/ephemeral/NEXTFLOW/"
singularity.autoMounts = true
singularity.cacheDir="/rds/general/user/${System.getenv('USER')}/ephemeral/NEXTFLOW/"

log {
    file = "${workDir}/nextflow.log"
}

manifest {
    name = 'username/repo'
    author = 'Your Name <your.email@example.com>'
    description = 'A description of your pipeline'
    version = '1.0.0'
    nextflowVersion = '>=20.10.0'
}

report {
    enabled = true
    file = "${baseDir}/pipeline_report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${baseDir}/pipeline_timeline.html"
    overwrite = true
}

dag {
    enabled = true
    file = "${baseDir}/pipeline_dag.dot"
    overwrite = true
}

mail {
    smtp.host = 'in-v3.mailjet.com'
    smtp.port = 587
    smtp.user = "${System.getenv('SMTP_USER')}"
    smtp.password = "${System.getenv('SMTP_PASSWORD')}"
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = true
    smtp.ssl.protocols = 'TLSv1.2'
    from = "johnsonlabgithub@outlook.com"
}

params {
    // Default covariates setting
    covariates_to_include = "all"
}

profiles {
    
    offline {
        
        docker.enabled=true
        
        process {
            
            executor = "local"
            
            withName: /create_genotype|create_genotype_qsub|optimize_pcs|run_matrixeQTL|combine_eqtls|select_pcs|qc_genotype/  {
                container = "ghcr.io/johnsonlab-ic/eqtl-genotype:latest"
                memory=60.GB
                
            }
            withName: /pseudobulk_singlecell|qc_expression/ {
                container = "ghcr.io/johnsonlab-ic/eqtl-expression:latest"
            }
            withName: final_report {
                container = "ghcr.io/johnsonlab-ic/eqtl-reports:latest"
            }
        }
    }

    imperial {

        docker.enabled = false
        singularity.enabled = true


        process {
            executor = 'pbspro'
            withName: /create_genotype|create_genotype_qsub|qc_genotype|optimize_pcs|run_matrixeQTL|combine_eqtls|select_pcs|get_residuals/ {
                container = "docker://ghcr.io/johnsonlab-ic/eqtl-genotype:latest"
            }
            withName: /pseudobulk_singlecell|qc_expression/ {
                container = "docker://ghcr.io/johnsonlab-ic/eqtl-expression:latest"
            }
            withName:  /final_report|count_individuals/ {
                container = "docker://ghcr.io/johnsonlab-ic/eqtl-reports:latest"
            }

            // General resource requirements
            errorStrategy = 'retry'
            maxRetries = 5
            maxErrors = '-1'
            queue = { 4 * task.attempt > 8 ? 'v1_small24' : 'v1_small24' }
            cpus = { 1 * task.attempt }
            memory = { 6.GB * task.attempt }
            time = { 4.h * task.attempt }

            // Process-specific resource requirements
            withLabel:process_single {
                cpus = 1
                memory = { 6.GB * task.attempt }
                time = { 4.h * task.attempt }
            }

            withLabel:process_low {
                cpus = { 2 * task.attempt }
                memory = { 12.GB * task.attempt }
                time = { 2.h * task.attempt }
            }

            withLabel:process_medium {
                queue = 'v1_medium24'
                cpus = { 9 * task.attempt }
                memory = { 36.GB * task.attempt }
                time = { 9.h * task.attempt }
            }

            withLabel:process_high {
                queue = 'v1_medium24'
                cpus = { 12 * task.attempt }
                memory = { 24.GB * task.attempt }
                time = { 6.h * task.attempt }
            }

            withLabel:process_long {
                queue = 'v1_medium24'
                cpus = 9
                memory = 96.GB
                time = { 14.h * task.attempt }
            }

            withLabel:process_eqtl {
                queue = { 200 * task.attempt < 921 ? 'v1_medium24' : 'v1_largemem24' }
                cpus = {20 * task.attempt }
                memory = { 200.GB * task.attempt }
                time = { 0.5.h * task.attempt }
            }

            withLabel:process_high_memory {
                queue = { 200 * task.attempt < 921 ? 'v1_medium24' : 'v1_largemem24' }
                cpus = { 10 * task.attempt }
                memory = { 200.GB * task.attempt }
                time = { 4.h * task.attempt }
            }
        }
    }
}