workDir="/Users/ah3918/NEXTFLOW/"
docker.enabled=true
singularity.enabled=false


report {
    enabled = true
    file = "${baseDir}/../pipeline_report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${baseDir}/../pipeline_timeline.html"
    overwrite = true
}

dag {
    enabled = true
    file = "${baseDir}/../pipeline_dag.html"
    overwrite = true
}

mail {
    smtp.host = 'in-v3.mailjet.com'
    smtp.port = 587
    smtp.user = 'ff23419319c83dcf170d8db12d9ef9a8'
    smtp.password = '4e310fa92019051128ae16620eef8eaa'
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = true
    smtp.ssl.protocols = 'TLSv1.2'
    from = "johnsonlabgithub@outlook.com"
}


profiles {
    offline {
        process {
            withName: /create_genotype|create_genotype_qsub/  {
                container = "ah3918/genotype_image:latest"
            }
            withName: pseudobulk_singlecell {
                container = "ah3918/expression_image:latest"
            }
        }
    }
}

executor {
    $pbspro {
        queueSize = 49
        submitRateLimit = '10 sec'
    }

    $local {
        cpus = 2
        queueSize = 1
        memory = '6 GB'
    }
}